#wrapper:before {
    /* content: ' '; */
    /* display: block; */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    background-image: url('images/avatars/dsd.jpg');
    background-repeat: no-repeat;
    background-position: 60%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

body {
    background-image: none;
}

#main {
    max-width: 80%;
    background: #000000;
    opacity: 0.7;
}

#main .avatar img {
    border-radius: 0%;
    box-shadow: 0 0 0 0.1em #c8cccf;
}

/* Type */
body, input, select, textarea {
    color: #c8cccf;
    font-family: "Open Sans", serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #c8cccf;
    font-family: "Comfortaa", cursive;
}

ul.icons li a {
    border-radius: 0%;
}

ul.icons li a:before {
    color: #c8cccf;
    text-shadow: none;
}

ul.icons li a:hover:before {
    color: #ff7496;
    text-shadow: none;
}